// GENERAL PROJECT STYLES

.top__line
	width: 100%
	position: relative
	display: flex
	justify-content: center
	align-items: flex-start

.container
	position: relative
	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-items: flex-start
	width: 100%
	max-width: 1370px
.top__line__wrap
	width: 100%
	height: 45px
	display: flex
	justify-content: space-between
	align-items: center
	position: relative
	padding-left: 20px
	padding-right: 20px
	background: #F4F4F4
	border-radius: 11px
.navbar__wrapp
	position: relative
	display: flex
	width: 100%
	// flex: 3 1 auto
	justify-content: flex-start
	align-items: center
	font-family: $userfont
	font-weight: 400
	font-size: 13px
	line-height: 15px

.contacts__wrap
	// flex: 1 1 auto
	position: relative
	display: flex
	width: 100%
	max-width: 380px
	justify-content: space-between
	align-items: center
	position: relative

.navbar
	width: 100%
	max-width: 500px
	position: relative
	display: flex
	justify-content: flex-start
	align-items: center

.nav__item.nav__item--sale
	.navbar__link
		left: -15px
.nav__item
	position: relative
	display: flex
	justify-content: center
	align-items: center
	min-width: 100px
	.navbar__link
		width: 100%
		position: absolute
		left: 0
		display: flex
		justify-content: center
summary
	position: relative
	display: flex
	justify-content: flex-start
	align-items: center
	width: 100%
	height: 100%
	cursor: pointer
	&::marker
		list-style: none 
		display: none
	&::after
		margin-left: 7px
		content: url("#{$assetImages}/summary__close.svg")
.first__level
	position: relative
	width: 100%
	.first__level--title
		position: absolute
		left: 0
		transition: text-shadow .3s
		&:hover
			text-shadow: 0 0 .65px #333, 0 0 .65px #333

.first__level[open]
	background: #FFFFFF
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1)
	height: 45px
	border-radius: 0  11px 0 0
	width: 188px
	display: flex
	justify-content: center
	align-items: center
	position: absolute
	top: -22px
	left: 0
	z-index: 10
	.first__level--title
		margin-left: 20px
		font-weight: 600
		&:hover
			text-shadow: 0 0 .65px #13131300, 0 0 .65px #33333300
		&::after
			margin-left: 7px
			content: url("#{$assetImages}/summary__open.svg")
.internet__tariff--button	
	display: flex
	justify-content: center
	align-items: center
	font-weight: 400
	font-size: 18px
	line-height: 26px
	/* identical to box height, or 144% */
	text-align: center
	color: #FFFFFF
	img
		margin-right: 9px
details
	position: relative
	width: 100%
	display: flex
	justify-content: center
	align-items: center
.first__level--item
	position: relative
	width: 100%
	height: 40px
	display: flex
	justify-content: flex-start
	align-items: center
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1)
	a, summary
		margin-left: 20px
	a
		display: flex
		justify-content: flex-start
		align-items: center
		width: 100%
		height: 100%
	datalist,summary
		height: 40px
.first__level--item
	&:hover
		background: #F4F4F4
		transition: background  .1s ease
	a
		&:hover
			font-weight: normal
.first__level--mob
	&:hover
		.first__level--mob--title
			font-weight: 600

.two__level--list
	&:first-child
		&:hover
			border-radius: 12px 12px 12px 12px
.two__level--item
	height: 40px
	display: flex
	justify-content: flex-start
	align-items: center
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1)
	&:hover
		background: #F4F4F4
		transition: background  .1s ease
	a
		display: flex
		justify-content: flex-start
		align-items: center
		width: 100%
		height: 100%
.two__level
	.two__level--title
		&::after
				margin-left: 7px
				content: url("#{$assetImages}/summary__open.svg") !important
.two__level[open]
	width: 100%
	background: #F4F4F4
	width: 100%
	.two__level--title
		width: 100%
		background: #F4F4F4
		width: 100%
		font-weight: 600
		&::after
			margin-left: 7px
			content: url("#{$assetImages}/summary__close.svg") !important
.container--mobail
	display: none		
.first__level
	ul
		position: absolute
		top: 45px	
		background: #FFFFFF
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
		width: 100%
.company
	&:last-child
		border-radius: 0px 0px 11px 0px
.nav__item--first
	min-width: 100px
.two__level
	font-size: 13px
	summary
		position: relative
	ul
		position: absolute
		left: 188px
		top: 0.5px	
		background: #FFFFFF
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
		width: 100%
		border-radius: 0px 11px 11px 0px
// .navbar__link
// 	position: absolute
// 	left: 0
.contacts__wrap
	.tel_mob
		display: none
.contact__link
	display: flex
	justify-content: flex-end
	align-items: center
	width: 100%
	height: 100%
	position: relative
	max-width: 190px

.overlay
	display: none
	position: absolute
	top: 0
	left: 0px
	width: 100%
	max-width: 250px
	height: auto
	z-index: 50
.nav__item--mob
	width: 100%
	position: relative
	background: #fff
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
	a
		position: relative
		display: flex
		width: 100%
		height: 100%
.navbar__wrapp__mobail
	position: relative
	width: 100%
	height: auto
	display: flex
	padding: 10px 0
	flex-flow: column nowrap
	justify-content: flex-start
	align-items: flex-start
	background: #fff
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
	border-radius: 15px
	a
		width: 100%
		height: 100%
	.cross
		margin-left: 10px
		cursor: pointer
.navbar--mob
	position: relative
	display: flex
	flex-flow: column
	align-items: center
	width: 100%
	margin-top: 15px
	height: auto
.nav__item--mob
	background: #fff
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1)
	padding: 10px
	width: 100%
	position: relative
.first__level--item--mob
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1)
	padding: 10px 0px 10px 20px
	width: 100%
	position: relative
.first__level--mob
	summary
		width: 100%
		height: 100%
		margin-bottom: 10px
		&::after
			content: url("#{$assetImages}/summary__open.svg")
.first__level--mob[open]
	summary
		font-weight: 600
		&::after
			content: url("#{$assetImages}/summary__open.svg")
.two__level--mob
	.two__level--mob--title
		width: 100%
		height: 100%
		font-weight: 400 !important
		margin-bottom: 10px
		&::after
			content: url("#{$assetImages}/summary__close.svg") !important
.two__level--mob[open]
	.two__level--mob--title
		font-weight: 600 !important
		&::after
			content: url("#{$assetImages}/summary__open.svg") !important
.two__level--item--mob
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07)
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.1)
	padding: 10px 0px 10px 15px
	width: 100%
	position: relative
.company
	width: 100%
.support__desc
	width: 100%
	position: relative
	span
		font-weight: 500
.support__desc
	display: flex
	justify-content: flex-end
	align-items: center
	flex-flow: row nowrap
	font-size: 16px
	position: relative
		
.regist__desc, .tel__desc
	justify-content: center
	font-size: 16px
	position: absolute
	right: 0

.contact__link--regist--img
	margin-right: 130px
.menu__wrap, .menu__dekstop
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
	position: relative
.menu__dekstop
	height: 90px 
.menu__wrap
	padding-left: 0px
	padding-right: 20px
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	margin-bottom: 37px
.menu
	display: flex
	justify-content: space-between
	align-items: center
	position: relative
	flex: 3 1 auto
.tel
	flex: 1 1 auto
	display: flex
	justify-content: flex-end
	align-items: center
	position: relative
.menu__link
	display: flex
	justify-content: flex-end
	align-items: center
	position: relative
	font-size: 18px
	font-weight: 400
	line-height: 26px
.menu__logo
	align-self: flex-start
.menu__link--green
	border-bottom: 1px solid $accent
	&:hover
		color: $accent
		font-weight: normal
.menu__link--blue
	border-bottom: 1px solid #0094FF
	&:hover
		color: #0094FF
		font-weight: normal
.top__line
	user-select: none
//slider
	// GENERAL PROJECT STYLES
.section__slider
	position: relative
	width: 100%
	height: auto
	display: flex
	justify-content: center
	align-items: center
	margin-bottom: $gutter*2
.slider__top
	border-radius: 20px
.slider__startPanel
	position: relative
	width: 100%
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	background: #939393
.slider__top
	position: relative
	width: 100%
	height: auto
	display: flex
	justify-content: center
	align-items: center
.container
	padding: 0 20px
.slider__top--slide
	width: 100%
.top__slide--img
	display: block
	width: 100%
	height: auto
	img
		width: 100%

.top__slide--desc
	position: absolute
	left: 75px
	top: 100px
	z-index: 50
	width: 100%
	max-width: 670px
	line-height: 1.3
.top__slide--title
	font-weight: 400
	font-size: 17px
	line-height: 22px
	letter-spacing: 0.3em
	color: #FFFFFF
	opacity: 0.4
	margin-bottom: 10px
.top__slide--text, .top__title
	font-weight: 600
	font-size: 50px
	line-height: 56px
	color: #FFFFFF
	margin-bottom: 20px
.top__slide--buttons
	margin-top: 20px
.button__startPanel
	padding: 15px 24px
	font-size: 16px
	font-weight: normal
	text-transform: uppercase
.button__top__slide--detail
	padding: 17px 47px
	margin-right: 20px
		border: 3px solid lighten($accent, 5%)
	&:active
		border: 3px solid darken($accent, 5%)
.button__top__slide--sales
	box-sizing: border-box
	background: none
	color: $textcolor
	border: 3px solid $textcolor
	&:hover
		border: 3px solid lighten($accent, 5%)
	&:active
		border: 3px solid darken($accent, 5%)
.swiper-pagination-bullet.swiper-pagination-bullet-active
	background: $accent
.swiper-pagination-bullet
	background: #fff
.swiper-button-next
	margin-left: 20px
.swiper-pagination-bullets.swiper-pagination-horizontal
	bottom: 18px
.swiper-button-prev, .swiper-button-next
	color: #fff
	opacity: 0.7
	&:hover
		opacity: 1
		transition: opacity 0.3s ease-in
		&::after
			color: $accent
			opacity: 1
			transition: opacity 0.3s ease-in
	&::after
		color: #fff
		font-size: 24px
		font-weight: 700
.tel
	img
		margin-right: 155px
.support__desc--link, .menu__link
	&:hover
		text-shadow: none
.green-wave-footer__link
	a
		&:hover
			text-shadow: none
.swiper-pagination
	width: 10px
	height: 10px
.pagination
	margin-top: 115px
	display: flex
	justify-content: flex-start
	align-items: center
	width: 100%
	max-width: 200px
.swiper--prev__next
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	position: relative
.swiper-button-next, .swiper-button-prev
	position: relative
.swiper-button-next:after, .swiper-button-prev:after
	font-size: 14px
.sales__desc--item
	position: relative
	width: 270px
	height: 65px
	padding: 5px
	font-size: 10px
	color: #fff
	margin-left: 15px
	display: flex
	line-height: 1.3
.sales__desc--fon
	position: absolute
	top: 0
	left: 0
	width: 270px
	height: 65px
	background: #939393
	opacity: 0.9
	z-index: 50
.sales__desc--img
	z-index: 60	
	margin-right: 12px
.sales__desc__text--wrap
	z-index: 60
.sales__desc--title
	font-size: 10px
	font-weight: normal
.sales__desc--text
	font-size: 12px
	font-weight: 700 
.swiper-pagination
	display: flex
	justify-content: flex-start
	align-items: flex-end
.media-footer__icon--wrap
	display: flex

.media-footer__icon
	display: flex
	width: 38px
	height: 38px
	margin-right: 12px
	border-radius: 50px
	&:hover
		background: rgba(29, 29, 29, 0.068)

//slider--finish
//section__cotact_form
.section__application, .section__cotact_form
	position: relative
	height: auto
	display: flex
	justify-content: center
	align-items: flex-start
.section__application
	margin-bottom: $gutterSection+30px
.section__cotact_form
	margin-top: 23px
	margin-bottom: $gutter*2
.section__cotact_form
	width: 100%
	position: relative
	display: flex
	justify-content: space-between
	align-items: center
.contact_form-label
	display: flex
	justify-content: flex-start
	align-items: center
	flex: 1 1 auto
.section__cotact--title
	font-weight: 600
	font-size: 40px
	line-height: 56px
.contact_form-input
	display: flex
	flex: 1 1 auto
	width: 100%
	max-width: 325px
	height: 77px
	border: 1px solid rgba(29, 29, 29, 0.3)
	border-radius: 20px
	margin-right: 16px
	font-size: 16px
	font-weight: 400
	padding-left: 24px
	&::placeholder
		font-weight: 400
		font-size: 20px
		line-height: 26px
		color: #000000
		opacity: 0.4
.hidden
	display: none !important
.application__button
	width: 100%
	max-width: 310px
	border-radius: 20px
	font-size: 20px
	height: 77px

.application__items
	position: relative
	width: 100%
	display: flex
	justify-content: space-between
	align-items: center
.application__item
	position: relative
	width: 420px
	display: flex
	justify-content: flex-start
	align-items: center
.application__item--img
	width: 100%
	position: relative
.application__item--desc
	position: absolute
	bottom: 15px
	left: 15px
	background: rgba(29, 29, 29, 0.85)
	backdrop-filter: blur(12px)
	border-radius: 26px
	width: 90%
	height: auto
	min-height: 247px
	padding: 24px

.application__item__desc--wrap
	display: flex
	position: relative
	width: 100%
	height: 200px
	justify-content: flex-start
	align-items: flex-start
	flex-flow: column nowrap
.tv__item__desc--wrap
	display: flex
	position: relative
	width: 100%
	height: 100%
	justify-content: flex-start
	align-items: flex-start
	flex-flow: column nowrap
.video__item--button
	position: absolute
	bottom: 0
	height: 59px
	width: 100%
	display: flex
	align-items: center
	justify-content: center
.video__item--title
	font-weight: 400
	font-size: 24px
	line-height: 26px
	color: #FFFFFF
.video__item
	.tv_item--desc
		position: absolute
		bottom: 15px
		left: 10px
		background: rgba(29, 29, 29, 0.85)
		backdrop-filter: blur(12px)
		border-radius: 26px
		width: 95%
		height: 168px
		padding: 24px
.media-footer--link
	&:hover
		filter: blur(1px)
.application__item__button
	position: absolute
	bottom: -10px
	height: 59px
	display: flex
	align-items: center
	justify-content: center

.footer__media, .footer__contacts, .footer__navigation, .green-wave-footer
	width: 240px
.application__item--title
	width: 100%
	font-weight: 600
	font-size: 24px
	line-height: 26px
	color: #FFFFFF
	text-align: left
	margin-bottom: 6px
.footer__row
	position: relative
	width: 100%
	display: flex
	justify-content: space-between
	align-items: flex-start
	flex: 1 1 auto
.application__item--text
	width: 100%
	font-weight: 400
	font-size: 15px
	line-height: 23px
	color: #FFFFFF
	text-align: left
	margin-bottom: 15px
.button__wrap
	position: relative
	width: 100%
.application__item__button
	width: 100%
	max-width: none
//section__cotact_form--finish


//section__iternet
.section__iternet
	width: 100%
	position: relative
	display: flex
	flex-flow: column nowrap
	align-items: center
	justify-content: center
.section
	width: 100%
	position: relative
	display: flex
	flex-flow: column nowrap
	align-items: center
	justify-content: center	
.internet__bg
	width: 100%
	background-size: contain
	background-repeat: no-repeat
	background-position: top right
	background-image: url(#{$assetImages}/internet__bg.webp)
	margin-bottom: $gutter*2
.tv__bg
	width: 100%
	background-size: contain
	background-repeat: no-repeat
	background-position: top right
	background-image: url(#{$assetImages}/tv__bg.webp)
	margin-bottom: $gutter*2
.video__bg
	width: 100%
	background-size: contain
	background-repeat: no-repeat
	background-position: top right
	background-image: url(#{$assetImages}/video__bg.webp)
	margin-bottom: $gutter*2
.video__offer
	display: flex
	justify-content: space-between
	align-items: center
	position: center
	width: 100%
.video__offer--items
	display: flex
	justify-content: space-between
	align-items: center
	position: center
	width: 100%
.top__bg
	height: 532px
.top__text
	font-weight: 400
	font-size: 18px
	line-height: 30px
	color: #FFFFFF
	margin-bottom: 20px
.internet__bg--desc
	margin-top: 130px
	margin-left: 75px
	width: 100%
	max-width: 400px
.video__bg--desc
	max-width: 800px
.video__bg--text
	max-width: 500px
.internet__tariff--title
	font-weight: 600
	font-size: 40px
	line-height: 56px
	margin-bottom: $gutter
	width: 100%
	max-width: 1018px
.internet__tariff
	width: 100%
	position: relative
	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-items: center
	text-align: center
	margin-bottom: $gutter*2
.internet__tariff--select
	position: relative
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	margin-bottom: $gutter
.tariff--selects
	width: 100%
	max-width: 529px
	position: relative
	box-sizing: border-box
	height: 77px
	display: flex
	justify-content: center
	align-items: center
	margin: 0 15px 
	border-radius: 20px
	border: 1px solid rgba(29, 29, 29, 0.3)
.tariff--select
	width: 100%
	display: flex
	justify-content: center
	align-items: flex-start
	font-weight: 400
	font-size: 20px
	line-height: 26px
	height: auto
	z-index: 40
	summary
		height: 77px
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		padding: 0 39px
		transition: text-shadow .3s
		&:hover
			text-shadow: 0 0 .65px #333, 0 0 .65px #333	
	&[open]
		summary
			text-shadow: 0 0 .65px #333, 0 0 .65px #333
			&::after
				text-shadow: 0 0 .65px #333, 0 0 .65px #333
				content: url("#{$assetImages}/summary__open.svg")
.tariff__list
	width: 100%
	display: flex
	flex-flow: column nowrap
	justify-content: flex-start
	align-items: flex-start
	border-radius: 0 0 20px 20px
	box-sizing: content-box
	border: 1px solid rgba(29, 29, 29, 0.3)
	background: #fff
	position: absolute
	top: 60px
	left: 0
.tariff__list--item
	position: relative
	width: 100%
	display: flex
	justify-content: flex-start
	align-items: center
	a
		display: flex
		justify-content: flex-start
		align-items: center
		background: #ffffff00
		width: 100%
		padding-left: 39px
		height: 63px
	&:hover
		a
			color: #fff
			background: $accent
			transition: background .1s ease
			
.internet__sale
	position: relative
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	margin-bottom: $gutter*2
.internet__sale--items
	justify-content: center
.internet__sale--item
	margin: 0 10px
.internet__sale--desc
	height: 247px
.internet__map
	position: relative
	width: 100%
	height: 80vh
	display: flex
	flex-flow: column nowrap
	justify-content: center
	align-items: center
	margin-bottom: $gutter*2
.internet__map__button
	background: #fff
	border-radius: 12px
	border: 1px solid $accent
	color: #000
	display: flex
	align-items: center
	justify-content: center
	margin-top: $gutter
	width: 100%
	max-width: 178px
	height: 50px
	&:hover
		.internet__map__button--img
			display: flex
			justify-content: center
			align-items: center
			&::after
				content: url("#{$assetImages}/internet__map__button--white.svg")
.application__item__button
	font-weight: 400
	font-size: 18px
	line-height: 26px
	text-align: center
	color: #FFFFFF
	&:hover
		font-weight: normal
		text-shadow:  none
.internet__map__button--img
	position: relative
	margin-top: 5px
	margin-left: 12px
	display: flex
	justify-content: center
	align-items: center
	&::after
		content: url("#{$assetImages}/internet__map__button.svg")
			
	&:hover
		img
			fill: #fff
.internet__cards
	position: relative
	width: 100%
	background:  #F4F4F4
	display: flex
	justify-content: center
	align-items: center
	padding-top: $gutter*2
	padding-bottom: $gutter*2
	margin-bottom: $gutter*2 
.internet__cards--decs
	font-weight: 400
	font-size: 27px
	line-height: 46px
	color: #9599A1
	margin-bottom: 10px
.internet__cards--title
	font-weight: 600
	font-size: 40px
	line-height: 56px
	color: #000000
	margin-bottom: $gutter
.internet__cards--wrap
	position: relative
	width: 100%
	display: flex
	flex-flow: row wrap
	justify-content: flex-start
	align-items: center
.internet__card
	position: relative
	width: 100%
	max-width: 400px
	padding: 43px 29px 22px 29px
	background: #fff
	display: flex
	flex-flow: column nowrap
	justify-content: flex-start
	align-items: flex-start
	border-radius: 25px
	margin-bottom: 20px
.internet__card--img
	position: absolute
	top: 0
	right: 0
	z-index: 0
.internet__card--title
	font-weight: 700
	font-size: 28px
	line-height: 39px
	color: #000000
	margin-bottom: 23px
.card__speed, .card__cost
	position: relative
	width: 100%
	display: flex
	justify-content: flex-start
	align-items: center
.internet__card--speed, .internet__card--cost
	position: relative
	width: 100%
	max-width: 300px
	display: flex
	justify-content: space-between
	align-items: flex-start
	margin-bottom: 20px
	img
		margin-right: 10px
.card__speed--desc, .card__cost--desc
	font-weight: 400
	font-size: 16px
	line-height: 26px
	color: #9599A1
.card__cost--title, .card__speed--title
	display: flex
	width: 100%
	justify-content: flex-start
	font-weight: 600
	font-size: 16px
	line-height: 26px
	color: #000
.internet__card
	margin-right: 20px
	.button
		width: 100%
		margin-bottom: 15px
.internet__card__button--tariff
	background-color: #fff
	color: $accent
	border: 1px solid $accent

	//section__iternet--finish
.popup__content--desc
	.section__cotact_form
		margin-bottom: 0 !important
.internet__city__sale
	display: flex
	width: 100%
	justify-content: flex-start
	align-items: center
	flex-flow: column nowrap
	position: relative
	margin-bottom: $gutter*2
.city__sale__items
	display: flex
	width: 100%
	justify-content: flex-start
	align-items: center
	position: relative
	flex-flow: row wrap
.internet__city__sale--title
	width: 100%
	font-weight: 600
	font-size: 40px
	line-height: 56px
	color: #1D1D1D
	margin-bottom: $gutter
.city__sale__item
	position: relative
	width: 100%
	max-width: 300px
	height: auto
	padding: 12px
	margin-right: 20px
	margin-bottom: $gutter
	background: #F4F4F4
	border-radius: 25px
	display: flex
	flex-flow: column nowrap
	justify-content: flex-start
	align-items: flex-start
	img
		width: 100%
.city__sale__item--img
	margin-bottom: 20px
	border-radius: 20px
.city__sale__item--date
	display: flex
	justify-content: flex-start
	align-items: center
	font-weight: 400
	font-size: 17px
	line-height: 26px
	color: #1D1D1D
	margin-bottom: 20px
	img
		margin-right: 11px
.city__sale__item--desc
	font-weight: 400
	font-size: 18px
	line-height: 26px
	color: #1D1D1D
	margin-bottom: 40px

.video__description
	position: relative
	width: 100%
	justify-content: flex-start
	align-items: center
	margin-top: $gutter*2
	margin-bottom: $gutter*2 
.video__description--title
	font-weight: 500
	font-size: 24px
	line-height: 35px
	color: #1D1D1D
	margin-bottom: 16px
.video__description-texst
	font-style: normal
	font-weight: 400
	font-size: 19px
	line-height: 35px
	color: #1D1D1D
.video__about
	.about__title.title
		text-align: center
.video__slider__wrap
	position: relative
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: auto
.video__slider
	display: flex
	justify-content: center
	align-items: center
	flex-flow: column nowrap
	width: 100%
	height: 100%
.video__slider--wrap
	justify-content: center
	align-items: center
.video__slider--item
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100%
	object-fit: cover
	img 
		align-self: center
		width: 200px
.tv__slider--1 
	width: 100%
	height: 100%
	margin-bottom: 15px
.tv__slider--2
	width: 100%
	height: 100%
	margin-bottom: 15px
.tv__slider--3
	width: 100%
	height: 100%
.tv__slider--item
	display: block
	width: 100%
	height: 100%
	object-fit: cover
.tv__slider__wrap
	display: flex
	justify-content: center
	position: relative
	width: 100%
	flex-flow: column nowrap
.video__slider
	.swiper__control
		display: flex
		justify-content: center
		align-items: center
		position: relative
		width: 100%
		max-width: 300px
		margin-top: 53px 
		align-self: center
		.swiper-pagination
			display: flex
			align-items: center
			justify-content: center
			align-self: center
			position: relative
			z-index: 10
			width: 70%
			.swiper-pagination-bullet
				border: 2px solid #C4C4C4
				height: 15px
				width: 15px
		.swiper-button-prev, .swiper-button-next
			color: #000
			opacity: 0.7
			height: 20px
			width: 20px
			position: absolute
			top: 0
			z-index: 100
			&:hover
				opacity: 1
				transition: opacity 0.3s ease-in
				&::after
					color: $accent
					opacity: 1
					transition: opacity 0.3s ease-in
			&::after
				color:#000
				font-size: 24px
				font-weight: 700
		// .swiper-button-prev
		// 	margin-right: 150px
.title__blok
	margin-left: 40px
	font-weight: 400
	font-size: 25px
	line-height: 46px
	color: #1D1D1D
.pay_card__blok
	display: flex
	position: relative
	justify-content: center
	align-items: flex-start
	width: 100%
.blok3__text
	margin-bottom: $gutter
.cards__container
	position: relative
	display: flex
	justify-content: flex-start
	align-items: flex-start
	flex-flow: column nowrap
.card__item
	&:hover
		text-shadow: 0 0 .2px #333, 0 0 .2px #333
.slider__title 
	width: 100%
	max-width: 1370px	
	text-align: center
	margin-bottom: $gutter
	line-height: 1.2
.section__pay
	width: 100%
	position: relative
	display: flex
	justify-content: center
	align-items: center
.about.video__about
	padding-bottom: 0
	margin-bottom: 100px
.section__video__slider__title
	width: 100%
	text-align: center
.video__about
	.item-about__title
		font-weight: 500
		font-size: 24px
		line-height: 26px
		color: #1D1D1D
.video__about
	.about__title.title
		margin-bottom: 56px
.video__slider__wrap
	margin-bottom: $gutter*2
.tv__affers
	width: 100%
	display: flex
	position: relative
	justify-content: space-between
	align-items: center
	height: auto
	margin-bottom: $gutter*2
.tv__affers__smart,.tv__affers__console
	display: flex
	justify-content: center
	align-items: center
	position: relative
	width: 100%
	max-width: 600px
	border-radius: 20px
.tv__affers__smart--img
	position: relative
	width: 100%
.tv__affers__smart--text
	position: absolute
	top: 117px
	left: 50px
	font-weight: 400
	font-size: 50px
	line-height: 36px
	color: #FFFFFF
.tv__seoText
	position: relative
	width: 100%
	margin-top: $gutter*2
	margin-bottom: $gutter*2
.tv__seoText--desc
	font-weight: 400
	font-size: 23px
	line-height: 34px
	color: #1D1D1D
.tv__slider
	position: relative
	width: 100%
	display: flex
	flex-flow: column nowrap
	justify-content: flex-start
	align-items: center
.tv__channels
	display: flex
	position: relative
	width: 100%
	justify-content: flex-start
	align-items: center
	flex-flow: column nowrap
	margin-top: $gutter*2
.channels__lists
	position: relative
	display: flex
	justify-content: flex-start
	align-items: flex-start
	width: 100%
.chennels__list__column__1
	position: relative
	width: 100%
	display: flex
	justify-content: center
.chennels__list__column__2
	position: relative
	width: 100%
	display: flex
	justify-content: center
.chennels__list__entertainment
	position: relative
	display: flex
	width: 100%
	flex-flow: column nowrap
	justify-content: flex-start
	align-items: flex-start
.chennels__list__shadow
	position: absolute
	bottom: -40px
	left: 0
	width: 100%
	height: 50px
	box-shadow: 4px -49px 29px -4px #fffffffd
.entertainment__items
	position: relative
	display: flex
	width: 100%
	justify-content: space-between
	align-items: flex-start
.entertainment__item
	position: relative
	display: flex
	width: 320px	
	height: 52px
	margin: 12px
	display: flex
	justify-content: flex-start
	align-items: center
.entertainment__item__title
	display: flex
	flex-flow: wpap nowrap
	font-weight: 400
	line-height: 1.1
	font-size: 20px
	color: #1D1D1D
	margin-left: 18px
.chennels__list__column__title
	font-weight: 500
	font-size: 25px
	line-height: 34px
	color: #9599A1
	margin-top: $gutter
.channels__title
	width: 100%
	position: relative
	text-align: left
.button__channels
	background: #fff
	border-bottom: 1px solid #11A844
	color: #000
	border-radius: 0px
	align-self: flex-start
	margin-left: 15px
	margin-top: $gutter
