details.first__level[open]  {
  animation: slide .3s ease-in-out;
}

details.tariff--select[open] {
	animation: slide .3s ease-in-out;
}
@keyframes slide {
  0%    {opacity: 0; transform:  translate(0, -10px); }
  100%  {opacity: 1; transform:  translate(0, 0);}
}

