.card__body {
	max-width: 1370px;
	padding: 50px;
	position: relative;
}

@media (max-width:890px) {
	.card__body {
			padding: 20px;
	}
}

@media (max-width:820px) {
	.card__body {
			text-align: center;
			align-items: center;

	}
}

.card__body::before {
	content: ' ';
	background-image: url('../img/card1.png');
	right: 0;
	top: 50px;
	position: absolute;
	width: 374px;
	height: 237px;
	background-repeat: no-repeat;

}

@media (max-width:1230px) {
	.card__body::before {
			top: 50px;
			left: 0;
			content: ' ';
			background-image: url('../img/card1.png');
			position: absolute;
			width: 374px;
			height: 237px;
			background-repeat: no-repeat;
	}
}

@media (max-width:830px) {
	.card__body::before {
			top: 50px;
			left: 30%;
			content: ' ';
			background-image: url('../img/card1.png');
			position: absolute;
			width: 374px;
			height: 237px;
			background-repeat: no-repeat;
	}
}

@media (max-width:550px) {
	.card__body::before {
			top: 50px;
			left: 20%;
			content: ' ';
			background-image: url('../img/card1.png');
			position: absolute;
			width: 374px;
			height: 237px;
			background-repeat: no-repeat;
	}
}

@media (max-width:550px) {
	.card__body::before {
			top: 50px;
			left: 13%;
			content: ' ';
			background-image: url('../img/card1.png');
			position: absolute;
			width: 374px;
			height: 237px;
			background-repeat: no-repeat;
	}
}

@media (max-width:380px) {
	.card__body::before {
			top: 50px;
			left: 7%;
			content: ' ';
			background-image: url('../img/card1.png');
			position: absolute;
			width: 374px;
			height: 237px;
			background-repeat: no-repeat;
	}
}



@media (max-width:890px) {
	.card__content {
			flex-wrap: wrap;
	}
}


@media (max-width:1230px) {
	.cards__container {
			padding-top: 200px;

	}
}

.cards__title {
	
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 56px;
	color: #1D1D1D;
}

@media (max-width:1230px) {
	.cards__title {
			font-size: 35px;
	}
}

@media (max-width:630px) {
	.cards__title {
			font-size: 30px;
			line-height: 40px;
	}
}

@media (max-width:550px) {
	.cards__title {
			font-size: 25px;
			line-height: 30px;
	}
}

@media (max-width:450px) {
	.cards__title {
			font-size: 20px;
			line-height: 25px;
	}
}

.cards__subtitle {
	
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 34px;
	color: #1D1D1D;
	max-width: 870px;
}

@media (max-width:630px) {
	.cards__subtitle {
			font-size: 18px;
			line-height: 20px;
	}
}

.title__blok {
	padding: 34px 0 20px 0;
}

@media (max-width:730px) {
	.title__blok {
			padding: 15px 0 10px 0;
	}
}

.cards__item {
	display: flex;
}

@media (max-width:820px) {
	.cards__item {
			flex-wrap: wrap;
			justify-content: center;

	}
}

.img__text {
	
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 34px;
	color: #1D1D1D;
	padding-left: 35px;
	max-width: 555px;
}

@media (max-width:890px) {
	.img__text {
			padding: 10px;

	}
}

@media (max-width:820px) {
	.img__text {
			padding: 0px;

	}
}

.img__text span {
	color: #11A844;
}

.blok3 {
	padding: 45px 0 0 0;
}

@media (max-width:730px) {
	.blok3 {
			padding: 15px 0 0 0;
	}
}

@media (max-width:820px) {
	.blok3 {
			padding: 0px;

	}
}

.blok3__text {
	
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 34px;
	color: #1D1D1D;
	max-width: 850px;
}

.blok3__text span {
	color: #11A844;
}




///section_2

.card {
	padding: 50px 0 0 0;
	max-width: 1370px;
}

.container__card {
	display: flex;
	flex-wrap: wrap;
}

.card__title {
	
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 56px;
	color: #1D1D1D;
}

@media (max-width:1000px) {
	.card__title {
			font-size: 30px;
			text-align: center;
	}
}

.card__link {
	padding: 60px 20px 0px 20px;
	display: flex;
	align-items: flex-start;
}

@media (max-width:1300px) {
	.card__link {
			flex-wrap: wrap;
			justify-content: center;
			padding: 5px 5px;
			text-align: center;
			padding: 20px;
	}
}

.card__img {
	padding: 15px 0 0 0;

}

@media (max-width:1300px) {
	.card__img {
			position: absolute;
	}
}

@media (max-width:450px) {
	.cards1 {
			width: 100%;
	}
}

.card__item {
	width: 45%;
	height: 100%;
	background: #FAFAFA;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.05);
	border-radius: 25px;
	margin: 15px;
}

@media (max-width:1100px) {
	.card__item {
			text-align: center;
	}
}

@media (max-width:1000px) {
	.card__item {
			text-align: center;
	}
}

.card__item:hover {
	background: #ffff;
}

@media (max-width:1000px) {
	.card__item {
			width: 100%;

	}
}

.card__text {
	padding-top: 11px;
	margin-left: -20px;
}

@media (max-width:1300px) {
	.card__text {
			position: relative;
			margin-top: 196px;
			margin-left: 0;
	}
}


.text__title {
	
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 26px;
}

@media (max-width:1210px) {
	.card__item {
			font-size: 20px;
	}
}

@media (max-width:1000px) {
	.text__title {
			font-size: 20px;
	}
}

.subtitle {
	
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 26px;
	color: #000000;
	opacity: 0.7;
}

@media (max-width:1210px) {
	.subtitle {
			font-size: 15px;
			max-width: 250px;
	}
}

@media (max-width:1000px) {
	.subtitle {
			font-size: 14px;
			line-height: 15px;
	}
}
///section_2--finish