/*------------Форма заказа ---------------- */
.popup__overlay {
  position: absolute;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
  text-align: center
}

.order-form {
    background: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: 1px 0px 5px rgb(125, 125, 125);
    box-sizing: border-box;
    height: 360px;
    width: 430px;
    padding: 20px;
    margin: 100px auto;
    position: relative;;
}

.close{
    display: block;
    position: absolute;
    right: 20px;
		top: 20px;
    cursor: pointer;
}

.hidden {
  display: none;
}
// .popup__overlay	{
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	flex-flow: column nowrap;
// }
.popup__content {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
	background: #FFFFFF;
	border-radius: 25px;
	width: 100%;
	max-width: 1081px;
	margin-right: auto;
	margin-left: auto;
	padding: 45px;
}
.popup__content--title{
	font-weight: 600;
	font-size: 40px;
	line-height: 39px;
	/* identical to box height, or 98% */
	margin-bottom: $gutter;

	color: #1D1D1D;
}
.popup__content--icons{
	display: flex;
	width: 100%;
	position: relative;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 50px;
}
.popup__content--icon{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #F4F4F4;
	border-radius: 20px;
	width: 100%;
	max-width: 309px;
	img{
		margin-right: 24px;
	}
}
.popup__content__icon--desc{
	font-weight: 400;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	position: relative;
	font-size: 17px;
	line-height: 26px;
	/* identical to box height, or 153% */
	color: #1D1D1D;
	span{
		font-weight: 600;
		font-size: 35px;
		line-height: 26px;
		margin-right: 11px;
		/* identical to box height, or 74% */


		color: #1D1D1D;
	}
}
.popup__content--desc{
	width: 100%;
	position: relative;
	justify-content: flex-start;
	align-items: flex-start;
	padding: $gutter;
	background: #F4F4F4;
	border-radius: 20px;
	text-align: left;
}
.popup__content__desc--title {
	font-style: normal;
	font-weight: 600;
	font-size: 27px;
	line-height: 36px;
	/* identical to box height, or 133% */
	margin-bottom: 20px;

	color: #1D1D1D;
}
.popup__content__desc--text{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */
	margin-bottom: 20px;

	color: #1D1D1D;
}
.popup__content--desc.section__cotact_form{
	margin-bottom: 0;
}
/*------------конец Формы заказа ---------------- */